{% extends "base.html" %}
{% block content %}
<h2>Generador - Cuadrados Medios</h2>
<form method="POST">
  <div class="mb-3">
    <label>Semilla:</label>
    <input type="number" name="semilla" class="form-control" required value="{{ semilla }}">
  </div>
  <div class="mb-3">
    <label>Iteraciones:</label>
    <input type="number" name="iteraciones" class="form-control" required value="{{ n }}">
  </div>
  <!-- <div class="mb-3">
    <label>Valor mínimo Ni:</label>
    <input type="number" step="0.01" name="min" class="form-control" required value="{{ min_val }}">
  </div>
  <div class="mb-3">
    <label>Valor máximo Ni:</label>
    <input type="number" step="0.01" name="max" class="form-control" required value="{{ max_val }}">
  </div> -->
  <button type="submit" class="btn btn-primary">Generar</button>
  <button formaction="/export_cuadrados_csv" formmethod="POST" class="btn btn-success">Exportar CSV</button>
  <button formaction="/distribucion_normal" formmethod="POST" class="btn btn-info">Distribución normal</button>
  <button formaction="/distribucion_uniforme" formmethod="POST" class="btn btn-info">Distribución uniforme</button>
</form>

{% if table %}
<hr>
<h3>Resultados</h3>
{{ table|safe }}
{% endif %}
{% endblock %}
